.font{
  font-family: 'Dancing Script', Georgia, Times, serif;

      line-height: 60px;
}
#p{
  font-size: 30px;

  padding:3cm 0cm 0cm 0cm;

}
.header{
  margin: 0cm 0cm 0cm 0cm;
}
#gallery{
  margin: -1cm 10cm -2cm 10cm;
  padding: 1.2cm 0cm 1cm 0cm;
}
.section{
  background-image: url('../img/bckg/bkgr.png');
}
.panel{
   border-collapse: collapse;
   border: 10px solid gray;
 }

ul{
  padding: 0 0 0 0;
  margin:0 0 0 0;

}
ul li{
  list-style:none;
  margin-bottom: 25px;
}
ul li img{
  cursor: pointer;
}
.section{
  text-align:center;
}
.hidden{
  display: none;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 640px){

    #gallery{
      margin: -1cm 1.5cm -1cm 1.5cm;
    }

  #first {
     background: url('../img/mobile/first.jpg');
    background-size: cover;

  }
  #second {
     background: url('../img/mobile/second.jpg');
    background-size: cover;

  }
  #third {
     background: url('../img/mobile/third.jpg');
    background-size: cover;

  }
  #fourth {
     background: url('../img/mobile/fourth.jpg');
    background-size: cover;

  }
}
#first {
   background: url('../img/bckg/first.jpg');
  background-size: cover;

}
#second {
   background: url('../img/bckg/second.jpg');
  background-size: cover;

}
#third {
   background: url('../img/bckg/third.jpg');
  background-size: cover;

}
#fourth {
   background: url('../img/bckg/fourth.jpg');
  background-size: cover;

}
.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from {
        -webkit-transform: rotate( 0deg );
    }
 to  {
        -webkit-transform: rotate( 360deg );
    }
}
