.section{
  text-align:center;
}
.hidden{
  display: none;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #ffffff;
}

#first {
   background: url('../img/bckg/first.jpg');
  background-size: cover;

}
#second {
   background: url('../img/bckg/second.jpg');
  background-size: cover;

}
#third {
   background: url('../img/bckg/third.jpg');
  background-size: cover;

}
#fourth {
   background: url('../img/bckg/fourth.jpg');
  background-size: cover;

}
.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from {
        -webkit-transform: rotate( 0deg );
    }
 to  {
        -webkit-transform: rotate( 360deg );
    }
}
