@media screen and (min-width:800px){
	#desktop{
		display: none;
	}
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;
}
#floating{
  position: absolute;
  bottom:50px;
  right:50px;
}
.btn-circle{
  width:30px;
  height:30px;
  text-align: center;
  padding: 6px 0;
  font-size:12px;
  line-height:1.428571429;
  border-radius:15px;
}
.btn-circle.btn-xl{
  width:70px;
  height:70px;
    padding:10px 16px;
    font-size:24px;
    line-height: 1.33;
    border-radius: 35px;
}
.font{
  font-family: 'Dancing Script', Georgia, Times, serif;
      line-height: 60px;
}
#p{
  font-size: 30px;
}
.section{
  background-image: url('../img/bckg/bkgr.png');
}
.panel{
   border-collapse: collapse;
   border: 10px solid gray;
 }

ul{
  padding: 0 0 0 0;
  margin:0 0 0 0;

}
ul li{
  list-style:none;
  margin-bottom: 25px;
}
ul li img{
  cursor: pointer;
}
.section{
  text-align:center;
}
.hidden{
  display: none;
}

body {
  font-size: 100%;

}

@media screen and (max-width: 640px){

#floating{
  display: none;
}

  #first {
     background: url('../img/mobile/first.jpg');
    background-size: cover;

  }
  #second {
     background: url('../img/mobile/second.jpg');
    background-size: cover;

  }
  #third {
     background: url('../img/mobile/third.jpg');
    background-size: cover;

  }
  #fourth {
     background: url('../img/mobile/fourth.jpg');
    background-size: cover;

  }
}
#first {
   background: url('../img/bckg/first.jpg');
  background-size: cover;

}
#second {
   background: url('../img/bckg/second.jpg');
  background-size: cover;

}
#third {
   background: url('../img/bckg/third.jpg');
  background-size: cover;

}
#fourth {
   background: url('../img/bckg/fourth.jpg');
  background-size: cover;

}
.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes "rotateThis" {
 from {
        -webkit-transform: rotate( 0deg );
    }
 to  {
        -webkit-transform: rotate( 360deg );
    }
}
